@import "tailwindcss";

@theme {
    --color-afm-blue: #265D97;
    --color-afm-gold: #D5AC51;
    --color-afm-gray: #D2D3D5;
    --color-afm-lightgray: #F0F0F0;
    --color-afm-red: #E33738;

    --animate-bounce: arrowBounce 1s ease-in-out infinite alternate;
}

@keyframes arrowBounce {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}